@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  background: #0f0f0f;
}

/* newbrand */
.newBrand {
  background: #0f0f0f;
}

.bg-images {
  background-image: url("components/assets/images/person.png");
  background-size: cover;
  background-position: center;
}
